[submodule "modules/HTTPRequest/playground/embedding-projector-standalone"]
	path = modules/HTTPRequest/playground/embedding-projector-standalone
	url = /Users/kravisankaran/cancerTherapy/modules/HTTPRequest/playground/embedding-projector-standalone/
[submodule "modules/HTTPRequest/playground/tensorboard"]
	path = modules/HTTPRequest/playground/tensorboard
	url = /Users/kravisankaran/cancerTherapy/modules/HTTPRequest/playground/projector/mnist-tensorboard-embeddings/tensorboard/
[submodule "modules/HTTPRequest/playground/mnist-tensorboard-embeddings"]
	path = modules/HTTPRequest/playground/mnist-tensorboard-embeddings
	url = /Users/kravisankaran/cancerTherapy/modules/HTTPRequest/playground/projector/mnist-tensorboard-embeddings/
[submodule "modules/HTTPRequest/playground/post--misread-tsne"]
	path = modules/HTTPRequest/playground/post--misread-tsne
	url = /Users/kravisankaran/cancerTherapy/modules/HTTPRequest/playground/post--misread-tsne/
